<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sign In</title>
    {% load static %}

    <!-- Font Icon -->
    <link rel="stylesheet" href="fonts/material-icon/css/material-design-iconic-font.min.css">

    <!-- Main css -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
</head>
<body>

    <div class="main">

        <!-- Sign up form -->
        <section class="signup">
            <div class="container">
                <div class="signup-content">
                    <div class="signup-form">
                        <h2 class="form-title">Sign In</h2>
                        <form method="POST" class="register-form" id="register-form">{% csrf_token %}
                            <div class="form-group">
                                <label for="name"><i class="zmdi zmdi-account material-icons-name"></i></label>
                                {{ form.name }}
                            </div>
                            <div class="form-group">
                                <label for="re-pass"><i class="zmdi zmdi-lock-outline"></i></label>
                                {{ form.password }}
                            </div>

                            <div class="form-group form-button">
                                <input type="submit" name="signup" id="signup" class="form-submit" value="Login"/>
                            </div>
                        </form>
                        <div style="color:red;margin-top:20px;">{{ error }}</div>
                        <div style="color:green;margin-top:10px;"><a href="{% url 'register' %}">Haven't Registered yet? Register Now!</a></div>
                        <div style="color:green;margin-top:10px;"><a href="{% url 'forgot' %}">Forgot Password</a></div>
                    </div>
                    <div class="signup-image">
                        <img src="{% static "images/signup-image.jpg" %}"
                    </div>
                </div>
            </div>
        </section>




    <!-- JS -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="{% static '/js/main.js' %}"
</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>